Thumbs.db
*.user
*.pro.user
*.user.*
*.orig
*.obj
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
deploy/
[Rr]elease*/
_ReSharper*/
*.Makefile
Makefile.Release
Makefile.Debug
Makefile
*.Release
*.Debug
Installation/Output/
*.autosave
*.rc
*.stash
*.orig*.tmp

